body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

.box {
    width: 350px;
    margin: auto;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}